@model ML.Repartidor
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Formulario de repartidor</h2>
<hr />
<div class="container">
    @using (Html.BeginForm("Form", "Repartidor", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => Model.IdRepartidor)
        <div class="row mb-3">
            <div class="col col-4">
                @Html.LabelFor(model => Model.Nombre)
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-regular fa-user"></i></span>
                    @Html.TextBoxFor(model => Model.Nombre, new { @class = "form-control", @placeholder = "Nombre" })
                </div>
            </div>
            <div class="col col-4">
                @Html.LabelFor(model => Model.ApellidoPaterno)
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-regular fa-user"></i></span>
                    @Html.TextBoxFor(model => Model.ApellidoPaterno, new { @class = "form-control", @placeholder = "Apellido paterno" })
                </div>
            </div>
            <div class="col col-4">
                @Html.LabelFor(model => Model.ApellidoMaterno)
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-regular fa-user"></i></span>
                    @Html.TextBoxFor(model => Model.ApellidoMaterno, new { @class = "form-control", @placeholder = "Apellido materno" })
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col col-4">
                @Html.LabelFor(model => Model.Telefono)
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-phone"></i></span>
                    @Html.TextBoxFor(model => Model.Telefono, new { @class = "form-control", @placeholder = "Telefono" })
                </div>
            </div>
            <div class="col col-4">
                @Html.LabelFor(model => Model.FechaIngreso)
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-calendar-days"></i></span>
                    @Html.TextBoxFor(model => Model.FechaIngreso, new { @class = "form-control", @placeholder = "mm-dd-aaaa" })
                </div>
            </div>
            <div class="col col-4">
                @Html.LabelFor(model => Model.UnidadAsignada.NumeroPlaca)
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-truck"></i></span>
                    @Html.DropDownListFor(model => Model.UnidadAsignada.IdUnidad, new SelectList(Model.UnidadAsignada.Unidades, "IdUnidad", "NumeroPlaca"), "Selecciona una unidad", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div>
            <a class="btn btn-danger" href="@Url.Action("GetAll","Repartidor")">Volver</a>
            <button class="btn btn-success" type="submit">Guardar</button>
        </div>
    }
</div>

